node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode
*.log
dist
.angular
.tmp
coverage
e2e
README.md
.git
.gitignore
*.md
src/assets/mock-data
mock-server.js
mock-server.log
indexeddb-test.html
*.test.ts
*.spec.ts
karma.conf.js
protractor.conf.js
