<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>YAP Frontend Development</strong>
    <p>Use the buttons below to navigate to different sections</p>
    
    <ion-button expand="block" routerLink="/welcome" color="primary" class="mt-4">
      View Intro Screens
    </ion-button>
    
    <ion-button expand="block" routerLink="/welcome/legacy" color="secondary" class="mt-2">
      View Legacy Carousel
    </ion-button>
  </div>
</ion-content>
