<ion-content>
    <ion-slides [pager]="true">
      <ion-slide>
        <img src="assets/onboard/practice.svg" />
        <h2>Talk &amp; Earn</h2>
        <p>Practice speaking daily and earn $YAP tokens.</p>
      </ion-slide>
  
      <ion-slide>
        <img src="assets/onboard/rewards.svg" />
        <h2>Get Rewarded</h2>
        <p>Your progress is recorded on‑chain.</p>
      </ion-slide>
  
      <ion-slide>
        <img src="assets/onboard/learn.svg" />
        <h2>Level Up</h2>
        <p>Compete on the leaderboard and unlock badges.</p>
        <ion-button expand="block" (click)="next()">Get Started</ion-button>
      </ion-slide>
    </ion-slides>
  </ion-content>
  