//npm.fontawesome.com/:_authToken=1331CA3B-162B-4CC6-BC8F-CAA0C07AA68E
@fortawesome:registry=https://npm.fontawesome.com/
//npm.greensock.com/:_authToken=b9c1f5dd-a8c9-46e6-999e-6880f5a00776
@gsap:registry=https://npm.greensock.com